<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="successMessage">
                {{ successMessage }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="newClient()">
                <i class="fa fa-plus"></i>Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF/CNPJ</th>
                        <th>Data de Cadastro</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.document }}</td>
                        <td>{{ client.dateTimeCreation }}</td>
                        <td>
                            <button class="btn btn-primary mr-1" routerLink="/clients-form/{{ client.id }}">
                                <i class="fa fa-pen"></i>
                            </button>
                            <button class="btn btn-danger" (click)="prepareToDelete(client)"
                                 data-toggle="modal" data-target="#deleteDialog">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="deleteDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="selectedClient">
                    Confirma a deleção do(a) cliente {{ selectedClient.name }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deleteClient()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>